html, body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
}

nav a:link {
    color: seashell;
}

nav a:hover {
    color: lightgrey;
}

nav a:active {
    color: seashell;
}

nav a:visited {
    color: seashell;
}

nav img {
    display: inline-block;
    height: 50px;
    margin: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}

nav li {
    display: inline-block;
    padding: 5px 10px;
}

section {
    margin-bottom: 50px;
    width: 100%;
}

#mission {
    height: 700px;
    padding-top: 70px;
    z-index: 100;
}

#mission-content {
    background-image: url(resources/img-mission-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0px 20px;
    display: flex;
    align-items: center;
}

#mission-msg {
    background-color: black;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mission-msg h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

#mission-msg h2 {
    font-size: 0.8em;
    padding: 10px;
}

#tea-of-month h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#tea-of-month h2 {
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#tea-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
    justify-content: center;
}

.tea-card {
    text-align: center;
    margin: 10px;
}

.tea-card p {
    padding: 10px;
    font-style: italic;
    font-size: 0.8em;
}

.tea-card img {
    width: 300px;
    height: 200px;
    display: block;
}

#location {
    height: 500px;
}

#location-content {
    background-image: url(resources/img-locations-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#location h1 {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#loc-card-container {
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

#loc-card {
    padding: 10px;
    margin: 0px 40px;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 10px;
}

#loc-card h1 {
    font-weight: bold;
    font-size: 1em;
}

#loc-card p {
    font-size: 0.8em;
}

#contact {
    text-align: center;
    padding: 10px;
}

#contact h1 {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

#contact h2 {
    padding: 10px;
    font-size: 0.8em;
}

footer {
    font-size: 0.6em;
    padding: 20px;
}

:target::before {
    content: "";
    display: block;
    height: 70px; /* fixed header height*/
    margin: -70px 0 0; /* negative fixed header height */
  }